<% layout('layouts/boilerplate')%>
    <h1>
        <%= campground.title %>
    </h1>
    <h2>
        <%= campground.location %>
    </h2>
    <img src="<%= campground.image %>" alt="">
    <p><%= campground.description %></p>
    
    <p>
        <button><a href="/campgrounds/<%= campground._id %>/edit" style="text-decoration: none; color: black;">Edit</a></button>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <button><a href="/campgrounds" style="text-decoration: none; color: black;">All Campgrounds</a></button>
    </footer>